<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<!-- Autowiring is about inteliigently guessing the refernce without actually providing it. -->
<!-- Below is the example of byName is which name of the bean has to be same as name of the member variable
Line class must contain a variable with the name line -->
	<bean id="line" class="com.nice.installer.nim.validator.Line" autowire="byName">
	</bean>
	
	<!--2. Autowiring byType : This works when we have only one bean of each type, it looks for complete package
	name as type -->
	
	<!-- 3. Autowiring by constructor : work as AutowiringByType only but instead of using setter it uses 
	constructor -->
	
	<bean id="pointA" class="com.nice.installer.nim.validator.Point">
	<property name="x" value="0" />
	<property name="y" value="0"></property>
	</bean>
	
	<bean id="pointB" class="com.nice.installer.nim.validator.Point">
	<property name="x" value="10" />
	<property name="y" value="20"></property>
	</bean>

	
	
</beans>